absl-py==2.5.0
astunparse==1.6.3
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.4.0
cycler==0.12.1
dm-tree==0.1.10
docstring_parser==0.18.0
einops==0.8.2
etils==1.14.0
flatbuffers==25.12.19
fonttools==4.65.0
fsspec==2026.9.0
gast==0.7.0
google-pasta==0.2.0
googleapis-common-protos==1.75.5
grpcio==1.84.0
h5py==3.15.1
idna==3.20
immutabledict==4.3.1
importlib_resources==7.1.0
joblib==1.6.0
kagglehub==1.0.2
kagglesdk==0.1.37
keras-nightly==3.16.0.dev2026092504
kiwisolver==1.5.1
libclang==18.1.1
markdown-it-py==4.2.0
matplotlib==3.11.2
mdurl==0.1.2
ml_dtypes==0.6.0
namex==0.1.0
narwhals==2.26.0
numpy==2.5.3
opt_einsum==3.4.0
optree==0.20.0
packaging==26.3
pandas==3.0.6
pillow==12.3.0
promise==2.3
protobuf==7.36.2
psutil==7.2.2
pyarrow==25.0.1
pydot==4.0.1
Pygments==2.21.0
pyparsing==3.3.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
scikit-learn==1.9.1
scipy==1.18.1
seaborn==0.13.2
simple-parsing==0.1.9
six==1.17.0
tensorflow==2.22.0rc0
tensorflow-datasets==4.9.10
tensorflow-metadata==1.21.0
termcolor==3.3.0
threadpoolctl==3.7.0
toml==0.10.2
tqdm==4.70.1
typing_extensions==4.16.0
tzdata==2026.4
urllib3==2.8.0
wheel==0.48.0
wrapt==2.4.1
zipp==4.1.0
